ADMIN_PASSWORD=Yv4r02!!yrvantebredewold

GOOGLE_PLACES_API_KEY=your_google_places_api_key

GOOGLE_SHEETS_CLIENT_ID=your_google_oauth_client_id
GOOGLE_SHEETS_CLIENT_SECRET=your_google_oauth_client_secret
SHEETS_REDIRECT_URI=https://yrvante.com/api/admin/sheets-callback

POSTGRES_URL=your_vercel_postgres_connection_string
